<nav class="NAV_Meun">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Data/ShowBuildings">Show Buildings</a></li>
        <li><a href="/Forms/AddBuilding">Add Buildings with Auto-Complete</a></li>
        <li><a href="/Forms/AddBuilding_OLD">Add Buildings with out Auto-Complete</a></li>
        <li><a href="/Forms/TestMail">Test Outlook Email</a></li>
    </ul>
</nav>