@@<!--inject BlazorApp.Outlook_Test.OutlookMail outlook_Mail_Test-->
@page "/Forms/TestMail"

<h3>Test_Mail</h3>


    <input type="button" value="TEST" @onclick="@TEST_MAIL" />



@code {

    protected void TEST_MAIL()
    {
       //outlook_Mail_Test.SendMail();
       //outlook_Mail_Test.SendMailWithOutlook("TEST MAIL", "This is an example.", "artai168@gmail.com", null);

    }
}
